*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
target-eclipse/
.DS_Store/
PhotoView/solr_3.6.1/photo_core/data/
PhotoView/jetty/work/
PhotoView/jetty/logs/*.log
